<div class="preloader">
  <div class="wave-animation" aria-label="Loading page">
    <div class="preloader-monogram" aria-hidden="true">
      <span class="preloader-monogram__letter preloader-monogram__letter--a" data-char="A">A</span>
      <span class="preloader-monogram__letter preloader-monogram__letter--j" data-char="J">J</span>
      <span class="preloader-monogram__diamond"></span>
      <span class="preloader-monogram__scanline"></span>
    </div>
    <span class="preloader-label">Loading</span>
  </div>
</div>
