.contact {
  height: 35vh;
}

.contact p {
  font-family: var(--ffSecondary);
  color: var(--light);
  padding: 1rem 1rem;
}

@media (min-width: 768px) {
  .contact {
    height: 45vh;
  }
}

@media (min-width: 992px) {
  .contact {
    height: 65vh;
  }

  .contact .heading {
    font-size: 13rem;
    line-height: 14rem;
  }
}
