.contact {
  height: 35vh;
}

.contact p {
  font-family: var(--ffSecondary);
  color: var(--light);
  padding: 1rem 1rem;
}

.contact .heading {
  font-size: clamp(3.7rem, 11vw, 15rem);
  line-height: 1;
}

@media (min-width: 768px) {
  .contact {
    height: 45vh;
  }
}

@media (min-width: 992px) {
  .contact {
    height: 65vh;
  }

}

