<section
  id="about"
  class="about about-page md:container mx-auto px-4 text-center text-4xl md:text-5xl lg:text-6xl leading-normal pt-24 pb-8"
>
  <div class="about-text">
    <p class="mb-96 mb-32r lg:mt-20 xl:mt-24 text-container">
      <span class="highlight">{{ "ABOUT.SPAN1" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN2" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN3" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN4" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN5" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN6" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN7" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN8" | translate }}</span>
      <span class="highlight">{{ "ABOUT.SPAN9" | translate }}</span>
    </p>
  </div>
</section>
