<section
  id="about"
  class="about about-page md:container mx-auto px-4 text-center text-4xl md:text-5xl lg:text-6xl leading-normal pt-24 pb-8"
>
  <div class="about-text">
    <p class="mb-2.5 sm:mb-3 lg:mb-5 text-container">
      <span class="highlight" [translate]="'ABOUT.SPAN1'"
        >Hey I am Aleksandra, a creative web developer based in Serbia.
      </span>
      <span class="highlight" [translate]="'ABOUT.SPAN2'">
        I work as a freelancer with agencies, start-ups and individuals,</span
      ><span class="highlight" [translate]="'ABOUT.SPAN3'">
        helping them to develop their website and achive their goals.</span
      >
      <span class="highlight" [translate]="'ABOUT.SPAN4'">
        I have a fondness for clean designs, subtle interactions and interactive
        development.</span
      >
    </p>
  </div>
</section>
