.about {
  line-height: 1.3;
  position: relative;
  z-index: 2;
}

@media (min-width: 991px) {
  .about {
    padding: 5%;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 5% 10%;
  }
}

@media (min-width: 1400px) {
  .about {
    padding: 5% 20%;
  }
}
.mb-32r {
  margin-bottom: 32rem;
}
.about-page {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.about-text {
  position: relative;
  z-index: 2;
}

.highlight {
  background: linear-gradient(to right, #ffffff 50%, #454560 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  }
