<section
  id="about"
  class="about md:container mx-auto px-4 text-center text-3xl md:text-4xl lg:text-5xl leading-normal pt-24 pb-8"
>
  <p class="mb-2.5 sm:mb-3 lg:mb-5 text-container">
    <span class="highlight"
      >Hey I am Aleksandra, a creative web developer based in Serbia.
    </span>
    <span class="highlight">
      I work as a freelancer with agencies, start-ups and individuals,</span
    ><span class="highlight">
      helping them to develop their website and achive their goals.</span
    >
    <span class="highlight">
      I have a fondness for clean designs, subtle interactions and interactive
      development.</span
    >
  </p>
</section>
