.about {
  line-height: 1.3;
  position: relative;
  z-index: 2;
  /* padding: 5% 20%; */
}

.text-container {
  font-size: 3rem;
}

@media (min-width: 991px) {
  .about {
    padding: 5%;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 5% 10%;
  }
}
@media (min-width: 1400px){
.about {
    padding: 5% 20%;
}
}
