<footer class="footer grid mt-20">
  <div
    class="container mx-auto flex items-center flex-col-reverse md:flex-row border-top px-4"
  >
    <div class="copyright grow mt-6 md:mt-0">
      <p
        class="uppercase text-center md:text-left text-sm sm:text-md md:text-lg font-extralight"
      >
        2022©Aleksandra Jevtović - All rights reserved
      </p>
    </div>
    <div class="social round to-diamond mb-4 md:mb-0 mt-12 md:mt-0">
      <a
        cursor-size="1.5rem"
        href="https://www.linkedin.com/"
        target="_blank"
        rel="noopener"
        class="icon-linkedin"
        >LinkedIn</a
      >
      <a
        cursor-size="1.5rem"
        href="https://github.com/sanja048"
        target="_blank"
        rel="noopener"
        class="icon-github"
        >GitHub</a
      >
    </div>
  </div>
</footer>
