.footer {
  height: 28vh;
}

@media (min-width: 768px) {
  .footer {
    height: 20vh;
  }
}

.copyright p {
  font-family: var(--ffSecondary);
  color: var(--tint);
}

.footer .border-top {
  border-top: 1px solid var(--accent);
}

.social a {
  float: right;
  display: block;
  position: relative;
  margin: 0 16px;
  width: 45px;
  height: 45px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  transition: all 400ms ease;
}
