<footer class="footer grid mt-20" [class.footer--centered]="centered">
  <div
    class="container-w-100 mx-auto flex items-center flex-col-reverse md:flex-row border-top px-4"
    [class.footer__inner--centered]="centered"
  >
    <div class="copyright mt-6 md:mt-0" [class.grow]="!centered" [class.copyright--centered]="centered">
      <p
        class="uppercase text-center md:text-left text-sm sm:text-md md:text-lg font-extralight"
      >
        {{ currentYear }}©Aleksandra Jevtovic - All rights reserved
      </p>
    </div>
    <div *ngIf="showSocial" class="social round to-diamond mb-4 md:mb-0 mt-12 md:mt-0">
      <a
        cursor-size="1.5rem"
        href="https://www.linkedin.com/in/aleksandra-jevtovic/"
        target="_blank"
        rel="noopener"
        class="icon-linkedin"
        >LinkedIn</a
      >
      <a
        cursor-size="1.5rem"
        href="https://github.com/aleksandrajevtovic"
        target="_blank"
        rel="noopener"
        class="icon-github"
        >GitHub</a
      >
    </div>
  </div>
</footer>
