<section class="hero">
  <div
    class="container mx-auto grid sm:place-content-center sm:text-center text-left h-90vh h-80vh sm:pl-0"
  >
    <h1 class="grid place-content-center uppercase">
      <span class="hidden sm:block"> Frontend </span>
      <span class="sm:hidden mobile"> Front </span>
      <span class="sm:hidden mobile"> End </span>
      <span>Web</span>
      <span class="hidden sm:block">Developer</span>
      <span class="sm:hidden mobile">Devel</span>
      <span class="sm:hidden mobile">Oper</span>
    </h1>
  </div>
  <div class="scroll-indicator relative">
    <a href="#about" class="intro-scroll"></a>
  </div>

  <!-- language btn select options -->
  <!-- <div class="my-switcher d-lg-block">
    <select
      class="form-control"
      #selectedLang
      (change)="switchLang(selectedLang.value)"
    >
      <option
        *ngFor="let language of translate.getLangs()"
        [value]="language"
        [selected]="language === translate.currentLang"
      >
        {{ language }}
      </option>
    </select>
  </div> -->

  <div class="my-switcher d-lg-block">
    <button
      [ngStyle]="{ opacity: activeLang === 'EN' ? '1' : '0.3' }"
      (click)="changeLangSwitch('EN')"
    >
      EN |
    </button>
    <button
      [ngStyle]="{ opacity: activeLang === 'DE' ? '1' : '0.3' }"
      (click)="changeLangSwitch('DE')"
    >
      &nbsp;DE
    </button>
  </div>
</section>
