<!-- <p>hero works!</p> -->
<section class="hero">
  <div class="container mx-auto grid sm:place-content-center sm:text-center text-left h-90vh h-80vh  sm:pl-0">
    <!-- <p class="uppercase font-extralight text-xl mb-14">Aleksandra Jevtović</p> -->
    <h1 class="grid place-content-center uppercase  ">
      <span class="hidden sm:block"> Frontend </span>
      <span class="sm:hidden mobile"> Front </span>
      <span class="sm:hidden mobile"> End </span>
      <span>Web</span>
      <span class="hidden sm:block">Developer</span>
      <span class="sm:hidden mobile">Devel</span>
      <span class="sm:hidden mobile">Oper</span>
    </h1>

  </div>
  <div class="scroll-indicator   relative">
    <a href="#about" class="intro-scroll"></a>
  </div>
</section>
