.h-80vh {
  height: 80vh;
}

.hero h1 {
  font-size: clamp(5rem, 11vw, 15rem);
  line-height: 1;
  place-content: baseline;
  margin: 2rem 0 0 1rem;
}

.hero h1 span {
  float: left;
  clear: left;
}

@media (min-width: 640px) {
  .hero h1 {
    margin: 0;
  }

  .hero h1 span {
    float: none;
    clear: none;
  }

  .h-90vh {
    height: 90vh;
  }
}

.intro-scroll {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: 24px;
  height: 70px;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s 0.6s ease-in-out;
}

.intro-scroll::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  width: 1px;
  height: 100%;
  background-color: var(--white);
  animation: scrollBtn 1s ease-in-out 0s infinite;
}

@keyframes scrollBtn {
  0% {
    opacity: 1;
    transform: translateY(-100%);
  }

  68% {
    opacity: 1;
    transform: translateY(100%);
  }

  69% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* language btn */
.my-switcher {
  position: fixed;
  top: 200px;
  right: 0;
  background-color: var(--shade);
  border-radius: var(--radiusLg) 0 0 var(--radiusLg);
  padding: 10px 15px;
  z-index: 5;
  color: var(--white);
}

@media(max-width:640px) {
  .my-switcher {
    top: 130px;
  }
}

.my-switcher select {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--shade);
}

.my-switcher select::-ms-expand {
  display: none;
}


