body {
  background-color: #2E2E4C;
}

#projects h1 {
  font-size: clamp(5rem, 10vw, 12rem);
  line-height: 1;
}

.flex-section {
  display: flex;
  /* max-width: 1400px; */
  height: auto;
  /*   padding: 1rem; */
  /* margin: auto; */
  line-height: 1.6;
}

.flex-section img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  /* height: 500px; */
}

.text-image {
  align-items: center;
}

.column-right {
  flex-basis: 40%;
  /*   margin: 1rem -10rem 1rem 1rem; */
  margin: 1rem 1rem 1rem -4rem;
  /*   color: #000; */
  color: #F2F2FF;
  /*   padding: 3rem; */
  /*   background-color: rgba(255, 255, 255, 0.9); */
  z-index: 1;
  /*   backdrop-filter: blur(10px); */
  /*   border: 1px solid #000; */
}

.project-content {
  background-color: #3D3D66;
  padding: 2.5rem;
  border-radius: 10px;
}
.ps-rel{
  position: relative;
}

.project-content h2 {
  font-family: "Saint Monica", sans-serif;
  font-size: clamp(2.3rem, 5vw, 5rem);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.project-content p {
  color: var(--light);
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  line-height: 1.5;
  font-weight: 200;
}

.column-left {
  flex-basis: 60%;
  position: relative;
}

@media(min-width:767px) {
  .cursor-img a{
    cursor: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23CFCFE5'/%3E%3Cellipse cx='34.762' cy='50.0001' rx='15.2381' ry='23.3333' fill='white'/%3E%3Cellipse cx='67.1429' cy='50.0001' rx='15.2381' ry='23.3333' fill='white'/%3E%3Cpath d='M65.8334 50.0596C65.8334 54.0373 62.6354 57.2619 58.6905 57.2619C54.7456 57.2619 51.9048 54.0373 51.9048 50.0596C51.9048 46.0818 54.7456 42.8572 58.6905 42.8572C62.6354 42.8572 65.8334 46.0818 65.8334 50.0596Z' fill='%237C93E7'/%3E%3Cpath d='M65.8929 50C65.8929 53.4846 62.1752 56.3095 58.6905 56.3095C55.2058 56.3095 51.9048 53.4846 51.9048 50C51.9048 46.5153 54.5238 42.7976 58.6905 42.7976C63.3929 42.7976 65.8929 46.5153 65.8929 50Z' fill='%23131414'/%3E%3Ccircle cx='55.1189' cy='46.7856' r='0.952381' fill='%23D9D9D9'/%3E%3Cpath d='M33.8094 50.0596C33.8094 54.0373 30.6115 57.2619 26.6666 57.2619C22.7217 57.2619 19.8809 54.0373 19.8809 50.0596C19.8809 46.0818 22.7217 42.8572 26.6666 42.8572C30.6115 42.8572 33.8094 46.0818 33.8094 50.0596Z' fill='%237C93E7'/%3E%3Cpath d='M33.869 50C33.869 53.4846 30.1512 56.3095 26.6666 56.3095C23.1819 56.3095 19.8809 53.4846 19.8809 50C19.8809 46.5153 22.4999 42.7976 26.6666 42.7976C31.369 42.7976 33.869 46.5153 33.869 50Z' fill='%23131414'/%3E%3Ccircle cx='23.0954' cy='46.7856' r='0.952381' fill='%23D9D9D9'/%3E%3C/svg%3E%0A"), auto;
  }
}

.cta-btn {
  background-color: #222222;
  color: #ffffff;
  margin-top: 0.5rem;
  padding: 15px 25px 15px 25px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 500;
}



.text-image:nth-of-type(even) .column-left {
  order: 2;
  flex-basis: 100%;
  margin: 1rem 1rem 1rem -10rem;

}

.text-image:nth-of-type(even) .column-right {
  flex-basis: 70%;
  margin: 1rem 1rem 1rem 1rem;

}

.text-image:nth-of-type(odd) .column-right {
  text-align: right;

}

.tech {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tech ul,
.project-links ul {
  padding: 0;
  margin: 0;
}

.tech ul li,
.project-links ul li {
  display: inline-flex;
  margin-right: 0.8rem;
}

.tech ul li:last-of-type,
.project-links ul li:last-of-type {
  margin-right: 0;
  margin-left: 0;
}

.tech ul li {
  font-family: "Oswald", sans-serif;
  font-weight: 200;

}

@media(min-width:767px) {
  .tech ul li {
    padding: 0.3rem 0.8rem;
    background: var(--light);
    color: var(--shade);
    border-radius: 30px;
    font-weight: 300;
    margin-bottom: 0.8rem
  }
}


.project-links ul li a {
  transition: all 400ms ease;
}

.project-links ul li a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .flex-section {
    flex-direction: column;
  }

  .column-left {
    flex-basis: 50%;
    /*     margin: 1rem; */
    margin: 0;

  }

  .column-right {
    flex-basis: 50%;
    margin: 0.5rem 0 0;
    margin: -100px 0 0;
    padding: 1rem;
  }

  .text-image:nth-of-type(even) .column-left {
    order: -1;
    margin: 0;
  }

  .text-image:nth-of-type(even) .column-right {
    flex-basis: 70%;
    margin: -100px 0 0;
  }

  .text-image:nth-of-type(odd) .column-right {
    text-align: left;
  }

  .project-content {
    padding: 1.5rem;
  }
}

/* tooltip */

[data-tooltip] {
  --arrow-size: 5px;
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--shade);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: var(--white);
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size);
  /* CSS triangle */
  border-color: var(--shade) transparent transparent transparent;
  transition-duration: 0s;
  /* If the mouse leaves the element,
                              the transition effects for the
                              tooltip arrow are "turned off" */
  transform-origin: top;
  /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}

/*
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s;
  /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}


/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + var(--arrow-size));
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, var(--arrow-size)) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
  transform: translate(-50%, var(--arrow-size)) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent var(--shade) transparent;
  transform-origin: bottom;
}


.project-link {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}
