<section id="projects" class="pt-20">
  <h1
    class="mb-28 md:mb-40 flex justify-center align-center text-center sm:px-12"
    [translate]="'PROJECTS.HEADLINE'"
  >
    Selected projects
  </h1>

  <p *ngIf="loading" class="px-4 text-center">Loading projects...</p>

  <div
    *ngFor="let project of projects; let i = index; trackBy: trackByProject"
    class="mt-12 md:mt-20 lg:mb-40 md:mb-20 flex-section text-image px-4"
    [ngClass]="'flex-section-' + ((i % 5) + 1)"
  >
    <div class="column-left cursor-img">
      <img [src]="project.imageUrl" [alt]="getProjectTitle(project)" />
      <a
        *ngIf="project.liveUrl"
        class="project-link"
        [href]="project.liveUrl"
        target="_blank"
      ></a>
    </div>
    <div class="column-right">
      <div class="project-content">
        <div class="project-name ps-rel">
          <h2>{{ getProjectTitle(project) }}</h2>
          <a
            *ngIf="project.liveUrl"
            class="project-link"
            [href]="project.liveUrl"
            target="_blank"
            cursor-size="1.5rem"
          ></a>
        </div>
        <p>{{ getProjectDescription(project) }}</p>
      </div>
      <div class="tech">
        <ul>
          <li *ngFor="let tech of project.techStack">{{ tech }}</li>
        </ul>
      </div>
      <div class="project-links">
        <ul>
          <li *ngIf="project.githubUrl">
            <a [href]="project.githubUrl" target="_blank">Github</a>
          </li>
          <li *ngIf="project.liveUrl">
            <a [href]="project.liveUrl" target="_blank">Live</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
