.preloader {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wave-animation span {
  color: var(--white);
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  animation-name: wave;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: calc(0.1s * var(--i));
}

@media (min-width: 575px) {
  .wave-animation span {
    font-size: 5rem;
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
