<div class="preloader">
  <div class="wave-animation">
    <span style="--i: 1">P</span><span style="--i: 2">l</span
    ><span style="--i: 3">e</span><span style="--i: 4">a</span
    ><span style="--i: 5">s</span><span style="--i: 6">e</span
    ><span style="--i: 7">&nbsp;</span><span style="--i: 8">w</span
    ><span style="--i: 9">a</span><span style="--i: 10">i</span
    ><span style="--i: 11">t</span><span style="--i: 12">.</span
    ><span style="--i: 13">.</span><span style="--i: 14">.</span>
  </div>
</div>
<app-navigation></app-navigation>
<app-hero></app-hero>
<app-about></app-about>
<!-- <app-projects></app-projects> -->
<app-work></app-work>
<app-contact></app-contact>
<app-footer></app-footer>
<!-- <p>home works!</p> -->
