/* @import 'tailwind' */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Saint Monica";
  src: local("Saint Monica"), url(./assets/fonts/SaintMonica/SaintMonica.ttf) format("truetype");
}

@font-face {
  font-family: "icomoon";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"),
    url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ffPrimary);
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: var(--radiusMd);
}

::-webkit-scrollbar {
  background: var(--light);
  width: 10px;
}

::selection {
  color: var(--white);
  background: var(--accent);
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

:root {
  /* --dark: #2e2e4c;
  --white: #ffffff;
  --accent: #6667ab;
  --pale: #f2f2ff;
  --light: #cfcfe5;
  --tint: #9595ba;
  --shade: #3d3d66; */

  --dark: #151527;
  --white: #ffffff;
  --accent: #454560;
  --pale: #d0d0e8;
  --light: #8989a0;
  --tint: #5e5e7a;
  --shade: #252540;
  --ffPrimary: "Saint Monica", sans-serif;
  --ffSecondary: 'Oswald', sans-serif;
  --radiusSm: 6px;
  --radiusMd: 10px;
  --radiusLg: 30px;
}

body {
  background: var(--dark);
  color: var(--pale);
  overflow-x: hidden;
}


/* linkedin and github icons styling */
.social a:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  background-color: transparent;
  border: 1px solid var(--tint);
  transition: all 400ms ease;
}
.social a.white:before {
  border: 1px solid var(--white);
}
.social a.white:after {
  color: var(--white);
}

.social a:after {
  position: relative;
  display: block;
  font-family: "icomoon";
  text-transform: none;
  color: var(--tint);
  font-size: 22px;
  line-height: 43px;
}

.social a:hover,
.social a:focus {
  text-decoration: none;
}

.social a:hover:before {
  transition: all 400ms;
  border: 1px solid var(--dark);
  background-color: var(--tint);
  color: var(--dark);
}

.social a:hover:after {
  color: var(--dark);
}

.social.round a:before {
  transform: rotate(45deg);
}

.social.to-diamond a:hover:before,
.social-networks.to-diamond a:focus:before {
  border-radius: 0;
  transform: rotate(-45deg);
}

.social .icon-linkedin:after {
  content: "";
}

.social .icon-github:after {
  content: "";
}
